@import "./partials/mixins", "./partials/variables";

.footer {
  background-color: $bronze;
}

.footer__content {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.375rem;
}

.footer__logo {
  max-width: 6.8781rem;
}

.footer__text {
  @include body--xs;
  color: $black;
}

.social__media {
  display: flex;
  gap: 1.25rem;
}

a:hover .svg--white {
  fill: $white;
  transition: all ease 0.2s;
}

@media screen and (min-width: 768px) {
  .footer__content {
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
    padding: 3.5rem 2.5rem;
  }

  .footer__text {
    padding-left: 4rem;
    padding-right: 8.3125rem;
  }
}

@media screen and (min-width: 1440px) {
  .footer__content {
    padding: 5rem 10.3125rem;
    max-width: 1440px;
    margin: 0 auto;
  }

  .footer__logo {
    min-width: 9.9731rem;
  }

  .footer__text {
    padding-left: 8.75rem;
    padding-right: 17.5rem;
    @include body--s;
    color: $black;
  }
}
