@import "./partials/mixins", "./partials/variables";

iframe {
  height: 550px;
}

main {
  background-color: $black;
}

.main__content {
  padding: 48px 32px 56px 32px;
}

.main__heading {
  @include heading--50;
  color: $white;
  padding-bottom: 48px;
}

.main__address {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.main__address--heading {
  @include heading--32;
  color: $bronze;
}

.main__address--description {
  color: $white;
  @include body--s;
}

.main__address--text {
  color: $white;
  @include body--s;
}

@media screen and (min-width: 768px) {
  .main__content {
    display: flex;
    gap: 68px;
    padding: 88px 40px 80px 40px;
  }

  .main__heading {
    @include heading--55;
  }
}

@media screen and (min-width: 1440px) {
  .main__content {
    max-width: 1440px;
    display: flex;
    gap: 220px;
    padding: 104px 165px 128px 165px;
    margin: 0 auto;
  }

  .main__heading {
    @include heading--l;
  }
  .main__address--heading {
    @include heading--s;
  }
  .main__address--description {
    @include body--m;
  }

  .main__address--text {
    @include body--m;
  }
}
